In [1]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras as extras

In [2]:
param_dic = {
    "host"      : "127.0.0.1",
    "database"  : "taxis",
    "user"      : "postgres",
    "password"  : "Snowdav3"
}

In [3]:
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print('Connection succesful')
    
    return conn

conn = connect(param_dic)
cursor = conn. cursor()

Connecting to the PostgreSQL database...
Connection succesful

Parte 1 - SQL

1. 
    a) ¿Puedes describirnos el procedimiento que has seguido para cargar los tres ficheros?

1.    
    b) ¿Puedes compartirnos la definición de la tabla que estás usando para contestar las
preguntas planteadas?

2. Una vez cargados los tres ficheros en tu base de datos, ¿cuántos registros tiene la
tabla? Compártenos la SQL que has usado.

In [4]:
table = 'yellowtaxis'

row_count = f'''
    SELECT COUNT(vendorid)
    FROM {table};
'''

cursor.execute(row_count)
result = cursor.fetchone();

print()
print(f"La tabla tiene {result[0]} registros")
print()

La tabla tiene 15711654 registros

3. Para cada uno de los tres meses con datos ¿podrías decirnos cuál es el trayecto más
corto, más largo y el trayecto medio?, en distancia y en tiempo. Compártenos la
sentencia SQL que has usado.

In [5]:
def trip(month, meassure, tipo):
    ms = ['distancia', 'tiempo']
    t = ['corto', 'largo', 'medio']
    
    assert meassure  in ms, raise ValueError(f"Specify measure from: {ms}")
    assert tipo in t, raise ValueError(f"Specify type from: {t}")
    
    time = 'tpep_pickup_datetime - tpep_dropoff_datetime'
    distance = 
    
    query = f'''
        SELECT ({}) AS trip_{}
        FROM yellowtaxis
        WHERE 
        ORDER BY trip_time {}
        LIMIT 1
    ;
        '''
    if meassure == 'tiempo':
        if tipo == 'largo':
            query.format(time, 'time', 'DESC')
        elif tipo == 'corto':
            query.format(time, 'time', 'ASC')
        else:
            query = f'''
                    SELECT AVG({time}) AS trip_time_avg
                    FROM yellowtaxis
                ;
                    '''
    else:
        if tipo == 'largo':
            query.format('trip_distance', 'distance', 'DESC')
        elif tipo == 'corto':
            query.format('trip_distance', 'distance', 'ASC')
        else:
            query = f'''
                    SELECT AVG(trip_distance) AS trip_distance_avg
                    FROM yellowtaxis
                ;
                    '''            
    cursor.execute(query)
    result = cursor.fetchone()
    
    return result

SyntaxError: invalid syntax (<ipython-input-5-8ed169f00bf5>, line 5)

In [ ]:
#trip()

In [ ]:
def longest_commute(month, tipo):
    query = f'''
    SELECT (tpep_pickup_datetime - tpep_dropoff_datetime) AS trip_time
    FROM yellowtaxis
    ORDER BY trip_time DESC
    LIMIT 1
;
    '''
    pass

In [ ]:
def average_commute(month, tipo):
    query = f'''
    
    '''
    pass

4. Para cada uno de los tres meses con datos ¿podrías decirnos cuánta es la variación
porcentual en el número de servicios registrados con respecto al mes anterior? Por
ejemplo, en esta pregunta nos gustaría obtener un resultado así. Compártenos la
sentencia SQL que has usado

In [10]:
import pandas as pd
t = pd.DataFrame({'col1': [x+1 for x in range(10)], 'col2': [x+1 for x in range(10,20)]})
t

   col1  col2
0     1    11
1     2    12
2     3    13
3     4    14
4     5    15
5     6    16
6     7    17
7     8    18
8     9    19
9    10    20

In [15]:
t.insert(1, 'month', 'January')#t[t['col1'] == 1]['col2'][0])

In [16]:
t

   col1  col3 new_col_name  col2
0     1    11      January    11
1     2    11      January    12
2     3    11      January    13
3     4    11      January    14
4     5    11      January    15
5     6    11      January    16
6     7    11      January    17
7     8    11      January    18
8     9    11      January    19
9    10    11      January    20

In [17]:
t[t['col1'] == 1]['col2'][0]

11