In [1]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras as extras

In [2]:
param_dic = {
    "host"      : "127.0.0.1",
    "database"  : "taxis",
    "user"      : "postgres",
    "password"  : "Snowdav3"
}

In [3]:
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print('Connection succesful')
    
    return conn

conn = connect(param_dic)
cursor = conn. cursor()

Connecting to the PostgreSQL database...
Connection succesful

In [26]:
def time_lapse(seconds):
    seconds_in_day = 60 * 60 * 24
    seconds_in_hour = 60 * 60
    seconds_in_minute = 60
    
    days = seconds // seconds_in_day
    hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
    minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
    
    return f"{days} days, {hours} hours, {minutes} minutes"

# Parte 1 - SQL

1. 
    a) ¿Puedes describirnos el procedimiento que has seguido para cargar los tres ficheros?

1.    
    b) ¿Puedes compartirnos la definición de la tabla que estás usando para contestar las
preguntas planteadas?

2. Una vez cargados los tres ficheros en tu base de datos, ¿cuántos registros tiene la
tabla? Compártenos la SQL que has usado.

3. Para cada uno de los tres meses con datos ¿podrías decirnos cuál es el trayecto más
corto, más largo y el trayecto medio?, en distancia y en tiempo. Compártenos la
sentencia SQL que has usado.

In [4]:
def execute(query):
    
    cursor.execute(query)
    result = cursor.fetchall()[0]
    
    return result

        January

In [12]:
conn.rollback()
longest_trip_time = f'''
    SELECT vendorid, month, tpep_pickup_datetime, tpep_dropoff_datetime, trip_duration_seconds, trip_duration
    FROM yellowtaxis
    WHERE month = 'January'
    ORDER BY trip_duration_seconds DESC
    LIMIT 1;
'''

lgtrip_t = execute(longest_trip_time)

print()
print(f"Longest yellow taxi trip time from January 2020 took: {lgtrip_t[-1]}")
print()

longest_trip_distance = f'''
    SELECT vendorid, month, tpep_pickup_datetime, tpep_dropoff_datetime,
    trip_duration_seconds, trip_duration, trip_distance
    FROM yellowtaxis
    WHERE month = 'January'
    ORDER BY trip_distance DESC
    LIMIT 1;
'''

lgtrip_d = execute(longest_trip_distance)

print()
print(f"Longest yellow taxi trip distance from January 2020 was: {lgtrip_d[-1]} miles")
print()

Longest yellow taxi trip time from January 2020 took: 5 days, 22 hours, 5 minutes


Longest yellow taxi trip distance from January 2020 was: 210240.07 miles

In [18]:
conn.rollback()
shortest_trip_time = f'''
    SELECT *
    FROM yellowtaxis
    WHERE month = 'January' AND trip_distance > 0 AND trip_duration_seconds > 0
    ORDER BY trip_duration_seconds ASC,
	trip_distance ASC
    LIMIT 1;
    
'''
sttrip_t = execute(shortest_trip_time)

print()
print(f"Longest yellow taxi trip time from January 2020 took: {sttrip_t[4]} seconds")
print()
#print("Full row ->")
#print()
#print(sttrip)

shortest_trip_distance = f'''
    SELECT *
    FROM yellowtaxis
    WHERE month = 'January' AND trip_distance > 0 AND trip_duration_seconds > 0
    ORDER BY trip_distance ASC,
    trip_duration_seconds ASC
    LIMIT 1;
    
'''
sttrip_d = execute(shortest_trip_distance)

print()
print(f"Longest yellow taxi trip distance from January 2020 was: {sttrip_d[7]} miles")
print()

Longest yellow taxi trip time from January 2020 took: 1 seconds


Longest yellow taxi trip distance from January 2020 was: 0.01 miles

In [31]:
avg_trip_time = f'''
    SELECT AVG(trip_duration_seconds) AS trip_duration_avg
    FROM yellowtaxis
    WHERE month = 'January' AND trip_distance > 0 AND trip_duration_seconds > 0
    
'''

avgtrip_t = execute(avg_trip_time)

print()
print(f"Average yellow taxi trip time from January 2020 was: {time_lapse(avgtrip_t[0])}")
print()

avg_trip_distance = f'''
    SELECT AVG(trip_distance) AS trip_distance_avg
    FROM yellowtaxis
    WHERE month = 'January' AND trip_distance > 0 AND trip_duration_seconds > 0
    
'''

avgtrip_d = execute(avg_trip_distance)

print()
print(f"Average yellow taxi trip distance from January 2020 was: {avgtrip_d[0]} miles")
print()

Average yellow taxi trip time from January 2020 was: 0 days, 0 hours, 15 minutes


Average yellow taxi trip distance from January 2020 was: 2.965610356524235 miles

4. Para cada uno de los tres meses con datos ¿podrías decirnos cuánta es la variación
porcentual en el número de servicios registrados con respecto al mes anterior? Por
ejemplo, en esta pregunta nos gustaría obtener un resultado así. Compártenos la
sentencia SQL que has usado